/*CSS Reset*/

html {
  font-size: 62.5%;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:     100%;
}

body {
    margin: 0;
}

img {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
}

/* Typography */
body,
button,
input,
select,
textarea {
    color: #404040;
    font-family: Raleway, Arial, sans-serif;
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 1em 0;
}

p {
    margin: 0;
    padding: 1em 0;
}

/* General styles */

.grid-container {
    background: #ededed;
    min-height: 100vh;
}

.main-head,
.main-content,
.sidebar,
.twin,
.footer {
    padding: 1em 2em;
}

.main-content {
    background: white;
}
.main-head {
    background: #2185C5;
    color: white;
}

.sidebar {
    background: #FF7F66;
}
/*двойник*/
.twin {
    background: #2185C5;
}

.twin:last-of-type {
    background: #7ECEFD;
}

/*выходные сведения*/
.colophon {
    padding: 2em;
    background: #3E454C;
    color: white;
}

.colophon a {
    color: white;
}

.colophon a:hover,
.colophon a:focus {
    border-bottom: 1px solid white;
}

/*navigation*/

.navigation {
  list-style: none;
  margin: 0;
  background: deepskyblue;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: #00b7f5;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}
@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr [col-start]) [auto-col] auto [five-col end-col] 2fr;

  grid-template-rows: [first-line] 25% [third-line] 100px [last-line] auto ;
  color: white;
  grid-column-gap: 10px;
  grid-row-gap: 15px;

}

.grid-item:nth-child(odd) {
    background: red;
}

.grid-item:nth-child(even) {
    background: blue;
}
